@tailwind base;
@tailwind components;
@tailwind utilities;

.hero{
  background-image: url("../src/assests/hero.jpg");
  height: 40vh;
  background-position: center;
  background-size: cover;
  position: relative;;
}

.otp-container{
  @apply flex justify-between gap-2
}

.otp-container input {
  @apply !mr-0 flex-1 py-4 outline-none
}